/* styles.css */

/* ----- VARIABLES ----- */
:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(30, 159, 171);

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(110, 87, 224);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}

/* ----- BASE ----- */
*{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ----- SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
}

.container {
    max-width: 1500px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding to the container */
}


/* Header Navigation Styles */
#HEADER {
    background-color: #333; /* Background color for the header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
}

.nav_logo {
    color: olivedrab;
    font-size: 36px;
}

.nav_menu ul.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_menu ul.nav-menu li {
    display: inline;
    margin-right: 12px; /* Adjust spacing between menu items */
}

.nav_menu ul.nav-menu li:last-child {
    margin-right: 0;
}

.nav_menu ul.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: background-color 0.3s;
}

.nav_menu ul.nav-menu li a:hover {
    background-color: #555; /* Background color on hover */
    border-radius: 5px; /* Add some border-radius for a subtle effect */
    padding: 10px 16px; /* Adjust padding on hover for a smoother transition */
}
